/* textarea组件禁止客户端拖动大小 */
textarea {
  resize: none;
}

/* 输入输出区域 */
.area {
  background-color: white;
  margin: 80px auto -80px auto;
  padding: 20px;
  width: 80%;
  min-width: 540px;
  max-width: 960px;
}
/* 输出容器 */
.output {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 50px auto 50px auto;
}
/* 输出容器中的图片充满容器 */
.output img {
  width: 100%;
}

/* 初始化隐藏的组件 */
#a_download_hidden {
  display: none;
}

/* 字体图标向左偏移 */
i {
  margin: auto 5px auto auto;
}

.right {
  float: right;
}

.copyright {
  text-align: center;
}

.copyright p{
  font-size: small;
}




#toast-container {
  position: relative;
  top: -110px;
}

.MathJax, .MathJax_Display  {
  font-size: 200%  !important;
}